.root {
  display: flex;
  text-align: left;

  .title {
    color: inherit;
    margin-left: 10px;
  }

  .pin {
    background: none;
    color: grey;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;

    &.pinned {
      color: red;
    }
  }
}
